.company .header {
  text-transform: uppercase;
  font-family: var(--primary-font), sans-serif;
  color: var(--bluish-color);
  font-size: 3.75rem;
}

.footer {
  margin-top: 130px;
}

.case_study_footer{
  width:100vw;
  position: relative;
}
.case_study_footer .footer_img {
  width: 100vw;
  height: 682px;
  object-fit: cover;
  position: absolute;
  top: 0;
}


.case_study_footer .bottom_footer {
  margin-top: 70px;
}


.casestudy .card_wrapper {
  height: 600px;
}
.card_block {
  margin-top: 70px;
  position: relative;
}

.card_wrapper .phone_wrapper {
  position: absolute;
  top: 0;
  height: 600px;
  display: flex;
  align-items: center;
}

.card_image {
  height: 400px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.center_card_image {
  height: 600px;
}
.card_block .yellow_spot {
  width: 600px;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-left: 350px;
}
/* Stat  */
.stats {
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.each_stat {
  width: 100%;
  max-width: 220px;
  margin-bottom: 20px;
}

.five9_stats {
  width: 500px;
}


.each_stat .percentage {
  font-family: var(--primary-font), sans-serif;
  color: var(--bluish-color);
  font-size: 2rem;
}
.whole_description_block_wrapper {
  margin-top: 70px;
}
.stat_description {
  margin-top: 10px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 590;
  text-align: left;
}

.each_main_description_block {
  margin-top: 50px;
}

.section_title {
  font-family: var(--primary-font), sans-serif;
  color: var(--bluish-color);
  font-size: 2rem;
}
.padding
{
  padding:40px;
}
.section_description {
  text-align: justify;
  line-height: 25px;
  margin-top: 15px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.para {
  margin-top: 20px;
}
