/* GDPR Cookie dialog */

.gdprcookie {
  position: fixed;
  color: white;
  font-size: 0.8rem;
  line-height: 1.5em;
  left: 1.5rem;
  bottom: 7.5rem;
  max-width: 25em;
  padding: 1rem;
  background: black;
}
.gdprcookie h1,
.gdprcookie h2 {
  font-size: 1.2em;
  margin-bottom: 0.5rem;
}
.gdprcookie h2 {
  font-size: 1.2em;
}
.gdprcookie a {
  color: inherit;
}

/* GDPR Cookie buttons */

.gdprcookie-buttons {
  text-align: center;
}
.gdprcookie-buttons button {
  color: white;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4rem;
  border: solid 0.05rem currentColor;
  border-radius: 0.15rem;
  margin: 0 0.5rem;
  background: none;
  cursor: pointer;
}
.gdprcookie-buttons button:disabled {
  color: rgba(255, 255, 255, 0.5);
}

/* GDPR Cookie types */

.gdprcookie-types ul {
  overflow: hidden;
  padding: 0;
  margin: 0 0 1rem;
}
.gdprcookie-types li {
  display: block;
  list-style: none;
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}
.gdprcookie-types input[type="checkbox"] {
  margin-right: 0.25rem;
}
.gdprcookie {
  position: fixed;
  z-index: 9999;
  /* Other styles */
}

.content {
  position: relative;
  z-index: 1;
  /* Other styles */
}

